<!DOCTYPE html>
<html>
  <head>
    <title>Lista</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista</h1>
    <p>
      <% for(item of lista) { %>
        <%= item.nome %> - <%= item.cpf %> <br />
      <% } %>
    </p>
  </body>
</html>
